<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userMapper" class="com.simple.mapper.UserMapper"/>

    <bean id="userService" class="com.simple.service.UserService">
        <property name="userId" value="10001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean class="com.simple.common.MyBeanPostProcessor"/>
    <bean class="com.simple.common.MyBeanFactoryPostProcessor"/>

</beans>